.single{
  max-width: 1200px;
  margin: 60px auto;
  padding:0 40px;
  h1{
    height: auto;
    color: #000;
    font-size: 30px;
    background-color: #f7f7f7;
    border-bottom: $bgColor 5px solid;
    padding: 20px 0 15px 20px;
    }
  .inner{
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    @include mq($sp) {
      flex-direction: column;
      align-items: center;
    }
    img{
      width: 360px;
      height: 240px;
      margin-right: 20px;
      @include mq($sp) {
        margin-right: 0;
      }
    }
    .txt{
      .about{
        font-size: 24px;
        @include mq($sp) {
          margin-top: 30px;
        }
      }
      .read{
        max-width: 620px;
        margin-top: 20px;
        font-size: 18px;
        line-height: 27px;
        @include mq($sp) {
          min-width: 360px;
          margin-top: 20px;
        }
      }
    }
  }
  .img{
    display: block;
    margin: auto;
    width: auto;
  }
  .back-home{
    text-align: right;
    a{
      text-decoration: none;
      color: #000;
    }
  }
}