@charset "UTF-8";
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; outline: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

body { line-height: 1; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

nav ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }

a { margin: 0; padding: 0; font-size: 100%; vertical-align: baseline; background: transparent; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }

/*
theme Name: portfoliosite
Author: takeru okamura
Description: そこらへんにいるエンジニア志望のポートフォリオサイトです
version： 1.0.0
*/
html { scroll-behavior: smooth; }

body { font-family: 'Noto Sans JP', sans-serif; }

h2 { border-bottom: 5px solid #00023a; font-size: 28px; padding-bottom: 20px; }

li { list-style: none; }

.main { background-color: #00023a; position: relative; }

.main .title { color: white; text-align: center; transform: translate(-50%, -50%); position: absolute; top: 50%; left: 50%; }

.main .title h1 { font-size: 60px; }

.main .title p { min-width: 400px; font-size: 28px; margin-top: 20px; }

.main .title p .sub-title { font-weight: bold; }

.main .arrow { transform: translate(-50%, -50%); position: absolute; top: 90%; left: 50%; cursor: pointer; transition: 1s; }

.main .arrow p { display: block; color: #fff; margin: auto; font-weight: bold; }

.main .arrow .arrow-1 { display: block; width: 42px; height: 28px; margin: auto; margin-top: 10px; animation: arrow-1 1500ms infinite; }

.main .arrow .arrow-2 { display: block; width: 42px; height: 28px; margin: -14px auto; animation: arrow-2 1500ms infinite; }

@keyframes arrow-1 { 0% { transform: translateY(); }
  50% { transform: translateY(6px); }
  100% { transform: translateY(); } }

@keyframes arrow-2 { 0% { transform: translateY(); }
  50% { transform: translateY(6px); }
  100% { transform: translateY(); } }

.profile__wrap { max-width: 1200px; margin: 50px auto; padding: 0 40px; }

.profile__wrap .align_center { max-width: 500px; margin: 50px auto; }

.profile__wrap .align_center .img { max-width: 100%; }

.profile__wrap .align_center .name { font-size: 24px; text-align: center; margin-top: 25px; }

@media screen and (max-width: 750px) { .profile__wrap .align_center .name { margin-top: 30px; } }

.profile__wrap .align_center .birthday { font-size: 20px; text-align: center; margin-top: 15px; }

@media screen and (max-width: 750px) { .profile__wrap .align_center .birthday { margin-top: 20px; } }

.content__wrap { max-width: 1200px; margin: 50px auto; padding: 0 40px; }

.content__wrap .inner { display: flex; justify-content: space-around; flex-wrap: wrap; }

@media screen and (max-width: 750px) { .content__wrap .inner { flex-direction: column; align-content: center; } }

.content__wrap .inner .col { list-style: none; margin-top: 40px; }

.content__wrap .inner .col a { text-decoration: none; color: #000; }

.content__wrap .inner .col a img { width: 340px; height: auto; }

@media screen and (max-width: 750px) { .content__wrap .inner .col a img { width: 100%; } }

.content__wrap .inner .col a .title { margin-top: 30px; font-size: 18px; }

.content__wrap .inner .col .category { margin-top: 20px; color: #000; font-size: 16px; }

.adress__wrap { max-width: 1200px; margin: 50px auto; padding: 0 40px; }

.adress__wrap .inner { margin: 30px 40px; }

.adress__wrap .inner .link-1 { display: flex; }

@media screen and (max-width: 750px) { .adress__wrap .inner .link-1 { flex-direction: column; } }

.adress__wrap .inner .link-1 li a { display: block; border: solid 2px; border-radius: 10px; padding: 10px 50px; text-decoration: none; text-align: center; color: white; margin-right: 20px; }

@media screen and (max-width: 750px) { .adress__wrap .inner .link-1 li a { margin-bottom: 10px; } }

.adress__wrap .inner .link-1 li .facebook { background-color: #4267b2; }

.adress__wrap .inner .link-1 li .codepen { background-color: #000; }

.adress__wrap .inner h3 { margin-top: 20px; font-size: 20px; }

.adress__wrap .inner .link-2 { margin: 20px 0 0 20px; }

.adress__wrap .inner .link-2 li { margin-top: 10px; }

.adress__wrap .inner .link-2 a { text-decoration: none; color: #000; }

.adress__wrap .inner .link-2 a:hover { text-decoration: underline; }

.footer { background-color: #00023a; height: 30px; position: relative; }

.footer p { font-size: 8px; color: white; text-align: center; position: absolute; top: 50%; left: 50%; transform: translateY(-50%) translateX(-50%); }

.single { max-width: 1200px; margin: 60px auto; padding: 0 40px; }

.single h1 { height: auto; color: #000; font-size: 30px; background-color: #f7f7f7; border-bottom: #00023a 5px solid; padding: 20px 0 15px 20px; }

.single .inner { max-width: 1000px; margin: 50px auto; display: flex; }

@media screen and (max-width: 750px) { .single .inner { flex-direction: column; align-items: center; } }

.single .inner img { width: 360px; height: 240px; margin-right: 20px; }

@media screen and (max-width: 750px) { .single .inner img { margin-right: 0; } }

.single .inner .txt .about { font-size: 24px; }

@media screen and (max-width: 750px) { .single .inner .txt .about { margin-top: 30px; } }

.single .inner .txt .read { max-width: 620px; margin-top: 20px; font-size: 18px; line-height: 27px; }

@media screen and (max-width: 750px) { .single .inner .txt .read { min-width: 360px; margin-top: 20px; } }

.single .img { display: block; margin: auto; width: auto; }

.single .back-home { text-align: right; }

.single .back-home a { text-decoration: none; color: #000; }
