html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Noto Sans JP', sans-serif;
}

h2{
  border-bottom: 5px solid #00023a;
  font-size: 28px;
  padding-bottom: 20px;
  @include mq($sp) {
  }
}

li{
  list-style: none;
}

.main{
  background-color: #00023a;
  position: relative;
  .title{
    color: white;
    text-align: center;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
    h1{
      font-size: 60px;
    }
    p{
      min-width: 400px;
      font-size: 28px;
      margin-top: 20px;
      .sub-title{
        font-weight: bold;
      }
    }
  }
  .arrow{
    transform: translate(-50%,-50%);
    position: absolute;
    top: 90%;
    left: 50%;
    cursor: pointer;
    transition: 1s;
    p{
      display: block;
      color: #fff;
      margin: auto;
      font-weight: bold;
    }
    .arrow-1{
      display: block;
      width: 42px;
      height: 28px;
      margin: auto;
      margin-top: 10px;
      animation: arrow-1 1500ms infinite;
    }
    .arrow-2{
      display: block;
      width: 42px;
      height: 28px;
      margin: -14px auto;
      animation: arrow-2 1500ms infinite;
    }
  }
}
// arrowのアニメーション
@keyframes arrow-1{
  0%{
    transform: translateY();
  }
  50%{
    transform: translateY(6px);
  }
  100%{
    transform: translateY();
  }
}
@keyframes arrow-2{
  0%{
    transform: translateY();
  }
  50%{
    transform: translateY(6px);
  }
  100%{
    transform: translateY();
  }
}

.profile{
  &__wrap{
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 40px;
    .align_center{
      max-width: 500px;
      margin: 50px auto;
      .img{
        max-width: 100%;
      }
      .name{
        font-size: 24px;
        text-align: center;
        margin-top: 25px;
        @include mq($sp) {
          margin-top: 30px;
        }
      }
      .birthday{
        font-size: 20px;
        text-align: center;
        margin-top: 15px;
        @include mq($sp) {
          margin-top: 20px;
        }
      }
    }
  }
}

.content{
  &__wrap{
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 40px;
    .inner{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      @include mq($sp){
        flex-direction: column;
        align-content: center;
      }
      .col{
        list-style: none;
        margin-top: 40px;
        a{
          text-decoration: none;
          color: #000;
          img{
            width: 340px;
            height: auto;
            @include mq($sp){
              width: 100%;
            }
          }
          .title{
            margin-top: 30px;
            font-size: 18px;
          }
        }
        .category{
          margin-top: 20px;
          color: #000;
          font-size: 16px;
        }
      }
    }
  }
}

.adress{
  &__wrap{
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 40px;
    .inner{
      margin: 30px 40px;
      .link-1{
        display: flex;
        @include mq($sp){
          flex-direction: column;
        }
        li{
          a{
            display: block;
            border: solid 2px;
            border-radius: 10px;
            padding: 10px 50px;
            text-decoration: none;
            text-align: center;
            color: white;
            margin-right: 20px;
            @include mq($sp){
                margin-bottom: 10px;
            }
          }
          .facebook{
            background-color: #4267b2;
          }
          .codepen{
            background-color: #000;
          }
        }
      }
      h3{
        margin-top: 20px;
        font-size: 20px;
      }
      .link-2{
        margin: 20px 0 0 20px;
        li{
          margin-top: 10px;
        }
        a{
          text-decoration: none;
          color: #000;
          &:hover{
            text-decoration: underline;
          }
        }
      }
    }
  }
}