.footer{
  background-color: $bgColor;
  height: 30px;
  position: relative;
  p{
    font-size: 8px;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
}